/* CSS file for linked views
** Puja Chandrikasingh
*/

p {
	font: 10px sans-serif;
}

.axis .domain {
  display: none;
}

/* for tree 
.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
}

.node text {
  font: 12px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}
*/
.node {
  fill: steelblue;
  stroke: none;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1px;
}